.Section2-Container{
    height:450px;
    padding:6rem 10rem;
}
.Section2-text{
    display:inline;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    display:flex;
    margin-left:0px;
    width: 100%;
    
}
.Section2-Container >h1{
    color:#032E60;
    margin-left:0pt;
    margin-bottom: 20pt;
    font-family: 'Montserrat', sans-serif;
}
.Section2-Container >p{
    float:left;
    
}
.image-astro{
    margin-right:-150px;
    margin-left:30px;
    display:inline;
    float:right;
    width:50%;
    max-width:250px;
    left: 150px;
    bottom:60px;
}

@media screen and (max-width: 960px) {
.Section2-Container{
    width:100%;
    padding-left:2rem;
    padding-right:2rem;
    padding-bottom:20rem;
    min-width: 0px;
}
.Section2-text{
    width: 95%;
}
.image-astro{
    display: none;
}
}