.cards {
    background: #FFFFFF;
    width:100%;
    padding:60px;
}
.cards__container {
    display: flex;
}
.main-card{
    display:block;
    position:relative;
    top:-20px;
    left:50px;
}
.cards__item__img_main{
    width:80%;
    margin-bottom:10px;
    border-radius: 16px;
}
.cards__wrapper{
    min-width:550px;
    margin-top:-20px;
}
.main-card >h2{
    font-family: 'Open Sans', sans-serif;
    color:#032E60;
    font-weight:normal;
    width:75%;
    margin-bottom:20px;
    margin-left:0px;
    line-height:35.2px;
    font-size: 32px;
}
.main-card >h6{
    font-family: 'Open Sans', sans-serif;
    color:#032E60;
    font-weight:normal;
    margin-bottom:15px;
    line-height: 15.4px;
}
.main-card >p{
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
    font-size: 16px;  
    line-height: 28px;
    margin:0px;
    width:85%;
}
.btn .btns{
    width:auto;
    position:relative;
    top:30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 15px 32px;
    border:1px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #0176D3;
    color: #FFFFFF;
}
.btns:hover {
    transition: all 0.3s ease-out;
    background: #ecf5fd;
    color: #0176D3;
    transition: 250ms;
}
.card_list{
    list-style: none;
}
.cards__item{
    display:flex;
}
.cards__item__img {
    display:block;
    width:75%;
    border-radius: 16px;
    margin-bottom:30px;
    margin-left:0px;
    max-width: 350px;
}
.cards__item__info {
    display:inline;
    margin-top: 0px;
    margin-left:0px;
    max-width: 450px;
}
.cards__item__title {
    font-family: 'Open Sans', sans-serif;
    color:#032E60;
    font-weight:normal;
    margin-left:-50px;
    margin-bottom:10px;
    line-height: 15.4px;
}
.cards__item__text {
    color:#032E60;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
    font-size: 1.2rem;
    line-height: 26.4px;
    margin-left:-50px;
    max-width: 300px;
}

@media screen and (max-width: 1000px) {
    .cards{
        width:80%;
        padding: 0;
        margin-top:20px;
    }
    .cards__wrapper{
        width:100%;
        min-width:0;
    }
    .cards__container {
    display: inline;
    }
    .main-card >h2{
        margin-left:0px;
    }
    .cards__item__info {
        text-align: left;
        margin-left:20px;
    }
    .card_list{
        margin-left:0px;
    }
    
    .cards__item__text {
        /* width:400px; */
        margin-bottom:40px;
        margin-left: 0;
        margin-right:0;
    }

    .cards__item__title {
        margin-bottom:0px;
        margin-left: 0;
        margin-right:0;
    }
    .cards__item__img {
        display: block;
        width:90%;
        margin-left: 0;
        margin-right: auto;
        border-radius: 16px;
        margin-bottom:20px;
    }
    .cards__wrapper{
        margin-top:100px;
    }
    .main-card{
        top:-0px;
        left:0px;
    }
    .cards__item__img_main{
        width:100%;
        max-width:100%;
        margin-right:40px;
        margin-bottom:10px;
        border-radius: 16px;
    }
    .btn .btns{
        width:100%;
        align-items:center;
    }
}
