.Section6{
    background-color: #FFFFFF;
    margin-top:100px;
    /* margin-bottom:25vh; */
    height:100vh;
    
}
.Section6-container{
    text-align: right;
    display:flex;
    font-family: 'Open Sans', sans-serif;
    margin-bottom:50px;
}
.Section6-container >h3{
    font-family: ' Montserrat', sans-serif;
    color:#032E60;
    font-size: 48px;
    line-height: 52.8px;
    font-weight:normal;
    width:100%;
}
.section6-links{
    padding-right:160px;
    text-align: right;
    text-decoration: none;
}

.section6-btn {
    position:relative;
    left:-50px;
    font-family: 'Open Sans', sans-serif;
    width:auto;
    font-size: 16px;
    padding: 15px 32px;
    border:1px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #0176D3;
    color: #FFFFFF;
}

.section6-btn:hover {
    transition: all 0.3s ease-out;
    background: #ecf5fd;
    color: #0176D3;
    transition: 250ms;
}
.learn-link{
    color:#032E60;
    display:inline;
    text-decoration: none;
}
.fa-chevron-right{
    display:inline;
    margin-left:15px;
}
.section6_img{
    display:flex;
    width:60%;
    height:auto;
}
.links-mobile{
    display:none;
}

@media screen and (max-width: 960px) {
    .Section6{
        height:780px;
        margin-top:50px;
        margin-left:0px;
        width:100%;
    }
    .Section6-container >h3{
        font-size:36px;
    }
    .Section6-container{
        text-align: center;
        width:100%;
    }
    .section6-links{
        display:none;
    }
    .links-mobile{
        width:100%;
        display:block;
        padding-top:20px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    .links-mobile .section6-btn {
        margin-right:0px;
        width:auto;
        left:0px;
        margin-right:25px;
    }
    .section6_img{
        margin-right:0px;
        margin-left: 0px;
        width:80%;
        min-width: 0px;
    }
}