.Section2-Container{
    height:40vh;
    padding:6rem 10rem;
    min-width: 1300px;
}
.Section2-text{
    display:inline;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    display:flex;
    margin-left:0px;
    width: 74%;
    float:left;
}
.Section2-Container >h1{
    color:#032E60;
    margin-left:0pt;
    margin-bottom: 20pt;
    font-family: 'Montserrat', sans-serif;
}
.Section2-Container >p{
    float:left;
}
.image-astro{
    display:inline;
    float:right;
    width:60%;
    max-width:250px;
    transform: translate(0%, -45%);
}

@media screen and (max-width: 960px) {
.Section2-Container{
    width:100%;
    padding:2rem;
    min-width: 700px;
}
.image-astro{
    display: none;
}
}